* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #012b1d;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.portfolio {
    background-color: #6ddb97;
    justify-content: center;
    align-items: center;
    display: flex;
}

.portfolio-content {
    height: 95%;
    width: 95%;
    border-radius: 10px;
    border: 2px solid #012b1d;
}

/* header-part */
header {
    gap: 10px;
    display: flex;
}

header img {
    height: 15px;
    width: 15px;
}

header nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #012b1d;
}

header nav a {
    text-decoration: none;
    color: #012b1d;
}

/*footer-part*/
footer {
    padding: 0 20px;
    display: flex;
    position: relative;
    bottom: 0;
}

footer i {
    background-color: #012b1d;
    color: #6ddb97;
    font-size: 18px;
    padding: 5px;
    border-radius: 50%;
    margin-right: 20px;
}

/* home/index */
.main1 {
    justify-content: space-between;
    display: flex;
}

/* about me */
.main2 {
    display: flex;
    justify-content: space-between;
}

.about1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-right: 5px;
    padding: 10px;
    overflow-y: auto;
    scrollbar-width: none;
}

.about1 ol {
    list-style-type: decimal;
    padding-left: 10px;
}

.about1 hr {
    background-color: black;
    height: 1px;
    border: none;
    margin-bottom: 8px;
}

.about2 {
    display: flex;
    justify-content: space-evenly;
}

.about2 .personality {
    background-color: #53b879;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    display: grid;
}

.about2 .interests {
    background-color: #53b879;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    display: grid;
}

.about2 ul {
    list-style-type: '✔';
}

.about2 ul li {
    padding-left: 5px;
}

/* about me -> educations */
.main-education {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    height: 68%;
    padding: 20px 50px;
    overflow-y: auto;
    scrollbar-width: none;
}

.main-education hr {
    background-color: black;
    height: 2px;
    margin-top: 5px;
    margin-bottom: 8px;
    border: none;
}

.images {
    padding-top: 15px;
    padding-bottom: 5px;
    overflow-x: auto;
    white-space: nowrap;

    /* scrollbar */
    scrollbar-width: thin;
    scrollbar-color: #012b1d #009b67;
}

.images img {
    height: 100px;
    width: 150px;
    border-radius: 8px;
    display: inline-block;
    margin-right: 8px;
}

.main-education button {
    background-color: #53b879;
    padding: 10px;
    margin-top: 10px;
    margin-right: 8px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    overflow: auto;
}

.modal img {
    max-height: 100%;
    max-width: 100%;
}

.close {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 50px;
    text-decoration: none;
    color: rgb(39, 238, 21);
}

#popup1:target {
    opacity: 1;
    visibility: visible;
}

#popup2:target {
    opacity: 1;
    visibility: visible;
}

/* certification, projects and skills */
.main3 {
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: auto;
    scrollbar-width: none;
}

.main3 hr {
    background-color: black;
    height: 2px;
    margin-top: 5px;
    margin-bottom: 8px;
    border: none;
}

/* projects -> detailed information */
.info {
    margin-top: 15px;
    text-align: center;
    display: block;
    text-decoration: solid underline;
    color: #012b1d;
    font-weight: bold;
}

/* certification -> table */
table {
    border-collapse: collapse;
}

th,
td {
    border: 2px solid #012b1d;
    padding: 10px;
}

details p {
    padding: 12px;
    background: #53b879;
    border-radius: 8px;
}

/* Desktop */
@media (max-width: 1440px) {
    .portfolio {
        height: 78%;
        width: 65%;
        border-radius: 10px;
    }

    header {
        padding: 20px;
    }

    .main1 {
        height: 68%;
        margin-top: 32px;
        padding: 0 50px;
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main1 img {
        height: 300px;
        width: 260px;
        display: block;
        margin: auto 0;
        border-radius: 10px;
    }

    .main2 {
        height: 68%;
        margin-top: 32px;
        padding: 0 50px;
    }

    .main3 {
        height: 68%;
        margin-top: 32px;
        padding: 0 50px;
    }
}

/* Laptop */
@media (max-width: 1024px) {
    .portfolio {
        height: 78%;
        width: 65%;
        border-radius: 10px;
    }

    header {
        padding: 20px;
    }

    .main1 {
        height: 68%;
        margin-top: 32px;
        padding: 0 50px;
    }

    .main1 img {
        height: 220px;
        width: 210px;
        border-radius: 10px;
    }

    .main2 {
        height: 68%;
        margin-top: 32px;
        padding: 0 50px;
    }

    .main3 {
        height: 68%;
        margin-top: 32px;
        padding: 0 50px;
    }
}

/* Tablet */
@media (max-width: 768px) {
    .portfolio {
        height: 100%;
        width: 100%;
        border-radius: 0;
    }

    header {
        padding: 20px;
    }

    .main1 {
        height: 75%;
        margin-top: 24px;
        padding: 0 50px;
    }

    .main1 img {
        height: 280px;
        width: 230px;
        display: block;
        margin: auto;
        border-radius: 5px;
    }

    .main2 {
        height: 75%;
        margin-top: 24px;
        padding: 0 50px;
    }

    .main3 {
        height: 75%;
        margin-top: 24px;
        padding: 0 50px;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .portfolio {
        height: 100%;
        width: 100%;
        border-radius: 0;
    }

    header {
        padding: 20px 0;
    }

    header nav {
        font-size: 14px;
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: none;
    }

    footer {
        justify-content: center;
    }

    .main1 {
        flex-direction: column-reverse;
        align-items: center;
        height: 75%;
        margin-top: 15px;
        padding: 0 22px;
    }

    .main1 img {
        height: 250px;
        width: 210px;
        border-radius: 5px;
    }

    .main2 {
        height: 75%;
        margin-top: 15px;
        padding: 0 22px;
    }

    .about2 {
        flex-direction: column;
    }

    .main3 {
        height: 75%;
        margin-top: 15px;
        padding: 0 22px;
    }
}
